In [13]:
def func():
    print("hello")
    print("MAathi")

func()

hello
MAathi

In [14]:
func()

hello
MAathi

In [11]:
def func1(a):
    print(a)
    print("MAathi")

func1("thuva")

thuva
MAathi

In [15]:
L=[4,5,6,7,8,"hi"]

for x in L:
    print(x)

4
5
6
7
8
hi

In [16]:
for y in L:
    if y==7:
        break;
    print(y)

4
5
6

In [17]:
for m in L:
    if m==7:
        continue;
    print(m)

4
5
6
8
hi

In [31]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [32]:
for j in range(2,8):
    print(j)

2
3
4
5
6
7

In [40]:
for i in range(1,11):
    for j in range(1,13):
        print(i*j," ",end=" ")
    print('\n************')

1   2   3   4   5   6   7   8   9   10   11   12
************
2   4   6   8   10   12   14   16   18   20   22   24
************
3   6   9   12   15   18   21   24   27   30   33   36
************
4   8   12   16   20   24   28   32   36   40   44   48
************
5   10   15   20   25   30   35   40   45   50   55   60
************
6   12   18   24   30   36   42   48   54   60   66   72
************
7   14   21   28   35   42   49   56   63   70   77   84
************
8   16   24   32   40   48   56   64   72   80   88   96
************
9   18   27   36   45   54   63   72   81   90   99   108
************
10   20   30   40   50   60   70   80   90   100   110   120
************

In [43]:
DNA="ATGCGATACGCTTGA"
CHAR="ATGC"
count=[0,0,0,0];
for x in DNA:
    for y in range(4):
        if x in CHAR[y]:
            count[y]+=1
for m in range(4):
    print(CHAR[m],"=>",count[m])

A => 4
T => 4
G => 4
C => 3